.navbar {
	background-color: #444;
	color: #f90000;
	margin-bottom: -8%;
	/*padding-top: 1%;*/
}
.navlink {
	color: #ffa600;
	padding-top: 1%;
	padding-bottom: .5%;
}
.navlink:hover {
	background-color: #ffa600;
	color: #444;
	border: 0px solid #ffa600;
}
.heading {
	color: #ffa600;
	font-size: 20px;
}
body {
	background-color: #C0C0C0;
	margin-bottom: 80px;
	width: 100%;
}
.footer {
	background-color: #444;
	color: #ffa600;
	/*position: absolute;*/
	bottom: 0;
	width: 100%;
	height: 40px;
	
}
.landingpagelarge {
	overflow-y: hidden;
	overflow: hidden;
	background-image: url(/img/landing.png);
	background-repeat: no-repeat;
	background-size: 1300px 650px;
}
.landingpagemidlarge {
	overflow-y: hidden;
	overflow: hidden;
	background-image: url(/img/landing.png);
	background-repeat: no-repeat;
	background-size: 1150px 600px;
}
.landingpage {
	overflow-y: hidden;
	overflow: hidden;
	background-image: url(/img/landing.png);
	background-repeat: no-repeat;
	/*background-size: 1000px 650px;*/
}
.landingpagemedium {
	overflow-y: hidden;
	overflow: hidden;
	background-image: url(/img/landing.png);
	background-repeat: no-repeat;
	background-size: 800px 650px;
}
.landingpagemidmedium {
	overflow-y: hidden;
	overflow: hidden;
	background-image: url(/img/landing.png);
	background-repeat: no-repeat;
	background-size: 600px 600px;
}
.landingpagesmall {
	overflow-y: hidden;
	overflow: hidden;
	background-image: url(/img/landing.png);
	background-repeat: no-repeat;
	background-size: 400px 650px;
}
.sitename {
	background-color: #444;
	color: #ffa600;
	font-size: 100px;
	margin-top: -2%;
	padding-top: 10%;
	padding-bottom: 10%;
	/*overflow-x: hidden;
	overflow-y: hidden;*/
}
.motto {
	font-size: 80px;
	color: #444;
	background-color: #ffa600;
	padding-top: 6%;
	padding-bottom: 6%;
	margin-top: -2%;
	margin-bottom: -1%;
}
.summary {
	/*margin-left: 15%;
	margin-right: 15%;*/
	margin-top: 5%;
	list-style-type: none;
}
.reviewindexheading {
	margin-top: 15%;
}
.summary>a {
	color: #e68a00;
	/*background-color: #444;*/
	list-style-type: none;
}
a:hover {
	text-decoration: none;
}
.subscriptionform {
	/*margin-left: 43%;
	margin-right: 37%;*/
	margin-top: 6%;
	margin-bottom: 6%;
}
.subscriptionformmedium {
	margin-top: 15%;
	/*margin-right: 20%;
	margin-left: 40%;*/
}
.subscriptionformsmall {
	/*margin-left: 30%;
	margin-right: 15%;*/
	margin-top: 30%;
}
.notfoundhead {
	margin-top: 15%;
}
.notfound {
	width: 75%;
	height: 50%;
}
.commentform {
	margin-top: 6%;
}
.commentformmedium {
	margin-top: 15%;
}
.commentformsmall {
	margin-top: 30%;
}
.topofpage {
	margin-top: 8%;
}
/*.bottomofpage {
	margin-bottom: 10%;
}*/
.recent {
	overflow-y: hidden;
}
.rightbutton {
	margin-top: 250px;
	height: 34px;
	width: 34px;
}
.rightbuttonsmall {
	margin-top: 200%;
	height: 34px;
	width: 34px;
}
.rightbuttonverysmall {
	margin-top: 450%;
	height: 34px;
	width: 34px;
}
.indeximage {
	height: 200px;
	width: 100%;
}
.homecare {
	margin-top: -30px;
}
.visualscore {
	height: 25px;
	width: 370px;
	border: 1px solid black;
}
.point {
	/*background-color: yellow;*/
	height: 22px;
	/*width: 50px;*/
}
.numberscore {
	width: 370px;
}
/*.pointfirsthalf {
	height: 30px;
	width: 15px;
	border: 1px solid black;
}
.pointsecondhalf {
	height: 30px;
	width: 15px;
	border: 1px solid black;
}*/